{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "indent": ["error", 2],
    "no-var": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "ignorePatterns": [
    "test/integration/",
    "dist",
    "build"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env":
  {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true,
    "webextensions": true
  }
}
