{
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "trailingComma": "all"}],
    "prefer-destructuring": 0,
    "prefer-const": ["error", {"destructuring": "all"}],
    "class-methods-use-this": 0,
    "no-new": 0,
    "no-cond-assign": ["error", "except-parens"],
  },
  "plugins": ["prettier"]
}
