name: Check PR title

on:
  pull_request:
    branches: [ master ]
    types: [opened, edited, synchronize, reopened]

jobs:
  commitlint:
    name: Check PR title
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14.x'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
      - name: Install deps
        run: npm ci --ignore-scripts
      - name: Verify PR title is in the correct format
        run: |
          echo "${{ github.event.pull_request.title }}" | npx commitlint -V

  needs-migration-docs-check:
    runs-on: ubuntu-latest
    if: ${{ true }}
    steps:
      - name: ECHO
        run: |
          echo "${{ github.event_name }}"
          echo "${{ github.event.pull_request.title }}"

      - name: Check PR name for breaking changes
        if: ${{ github.event_name == 'pull_request' && contains('BREAKING CHANGE', github.event.pull_request.title) }}
        uses: mshick/add-pr-comment@v2
        with:
          message-id: upgrade-guide
          message: |
            :warning: Breaking change detected. This PR will cause a major version upgrade. Please make sure to:
            - [ ] Create an upgrade guide in the documentation project.

            If you believe an upgrade guide is unnecessary, go ahead and check this box anyway.
