name: Node CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_call:
    secrets:
      BROWSERSTACK_USERNAME:
        required: true
      BROWSERSTACK_ACCESS_KEY:
        required: true

jobs:
  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
    env:
      CI: true
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Build
      run: npm ci

    - name: Run unit tests
      run: npm test

  needs-migration-docs-check:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' && contains(fromJSON('["!", "BREAKING CHANGE"]'), github.event_name) }}
    steps:
      - name: Check PR name for breaking changes
        uses: mshick/add-pr-comment@v2
        with:
          message-id: upgrade-guide
          message: |
            :warning: Breaking change detected. This PR will cause a major version upgrade. Please make sure to:
            - [ ] Create an upgrade guide in the documentation project.

            If you believe an upgrade guide is unnecessary, go ahead and check this box anyway.

  changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      core: ${{ steps.filter.outputs.core }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            core:
              - 'packages/core/**'
              - 'packages/js/**'

  integration:
    # integration tests from "js" package fail if they are executed at the same time
    needs: changes
    if: needs.changes.outputs.core == 'true'
    concurrency: js-concurrency
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14.x'
        cache: 'npm'
        cache-dependency-path: |
          package-lock.json
          packages/js/test/integration/package-lock.json

    - name: Build
      run: |
        npm ci
        cd packages/js/test/integration
        npm ci

    - name: Run integration tests
      env:
        CI: true
        BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
        BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      run: |
        cd packages/js
        npm run test:integration


  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14.x'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            packages/js/examples/aws-lambda-typescript/package-lock.json
            packages/vue/examples/vue2/package-lock.json
            packages/vue/examples/vue3/package-lock.json
            packages/react-native/example/package-lock.json
            packages/nextjs/examples/app-router/package-lock.json
            packages/nextjs/examples/pages-router/package-lock.json

      - name: Build
        run: npm ci

      - name: Run lint checks
        run: npm run lint
